name: MLflow CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Set up job
        run: echo "Start job"

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow pandas scikit-learn joblib

      - name: Run mlflow project
        run: |
          cd MLProject
          mlflow run . --env-manager=local
        env:
          MLFLOW_TRACKING_URI: file:./mlruns
          MLFLOW_EXPERIMENT_NAME: CI-Retraining-Experiment

      - name: Locate mlruns
        run: |
          find . -maxdepth 6 -type d -name "mlruns" || true
          find . -maxdepth 8 -type f -name "meta.yaml" | head -n 50 || true

      - name: Get latest MLflow run_id
        id: get_run_id
        run: |
          cd MLProject
          RUN_ID=$(mlflow runs list --experiment-name CI-Retraining-Experiment --max-results 1 --output csv | tail -n 1 | cut -d',' -f1)
          EXP_ID=$(mlflow experiments list --output csv | grep "CI-Retraining-Experiment" | head -n 1 | cut -d',' -f1)
          echo "experiment_id=$EXP_ID" >> $GITHUB_OUTPUT
          echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT
          echo "EXP_ID=$EXP_ID"
          echo "RUN_ID=$RUN_ID"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-runs
          path: |
            MLProject/mlruns/
            mlruns/

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Model
        run: |
          cd MLProject
          RUN_ID="${{ steps.get_run_id.outputs.run_id }}"
          mlflow models build-docker -m "runs:/${RUN_ID}/model" -n ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model:latest

      - name: Tag Docker Image
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model:latest ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model:${{ github.sha }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-model:${{ github.sha }}

      - name: Complete job
        run: echo "Complete"