name: MLflow CI Retraining

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn joblib

      - name: Run MLflow Project
        run: |
          cd MLProject
          python MLProjectt/modelling.py

      - name: Upload MLflow runs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-runs
          path: MLProject/mlruns/
