name: MLflow CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow scikit-learn pandas

    - name: Run MLflow Project
      run: |
        mlflow run . \
          --env-manager=local \
          -P n_estimators=100 \
          -P max_depth=10 \
          -P dataset=day_wise_processed.csv

    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/
